 
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
 <title>Bike Project</title>
</head>
<body>
​<a href="/first_app"> Menu
</a>

 <h1>Bikes Rental </h1>

 <div class = "container">
<h3> If you want informations about our Rentals </h3>
<a href="/first_app/rental/"> Rental Info
 </a>
<br>
 <a href="/first_app/rental/add"> Add Rental
 </a>
<h3> If you want information about our Customer </h3>

<a href="/first_app/customer/"> Customer Info
 </a>
 <br>
 <a href="/first_app/customer/add"> Add Customer
 </a>
<h3> If you want to check all our Vehicules click on Vehicules </h3>
<a href="/first_app/vehicule/"> Vehicules Info
 </a>
 <br>
 <a href="/first_app/vehicule/add"> Add Vehicule
 </a>
 </div>







​
</body>
</html>
